.custome-outline {
    color: black;
    color: transparent !important;
    -webkit-text-stroke: 1px #b08d57 !important;
    text-stroke: 1px #b08d57 !important;
}


/* .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
} */

.custom-gradient {
    top:-150px;
    padding-top: 150px;
    background: linear-gradient(to top,black 65%,rgb(0 0 0 / 0.2) 100%);
}

@media screen and (min-width: 768px) {
    .vertical-text {
        writing-mode: vertical-rl; /* Rotates text to vertical */
        transform: rotate(180deg); 
    }
    
}